--extra-index-url https://download.pytorch.org/whl/cpu

requests
httpx
apscheduler
fastapi
uvicorn[standard]
python-dotenv
beautifulsoup4
lxml
protobuf
sqlalchemy>=2.0
psycopg2-binary
numpy<2
pandas
scikit-learn
sentencepiece
typing
openai
