<div class="login-container">
  <div class="login-form">
    <h2 class="form-title">Register</h2>

    <form [formGroup]="form" (ngSubmit)="register()" autocomplete="on">
      <div class="form-group">
        <input
          formControlName="name"
          type="text"
          placeholder="First Name"
          class="form-input"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="surname"
          type="text"
          placeholder="Last Name"
          class="form-input"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="username"
          type="text"
          placeholder="Username"
          class="form-input"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          class="form-input"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="repeatPassword"
          type="password"
          placeholder="Repeat Password"
          class="form-input"
        />
      </div>

      <button type="submit" class="login-btn">Register</button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>

    <p class="register-prompt">
      Already have an account?
      <button class="link-btn" routerLink="/login">Login</button>
    </p>
  </div>
</div>
