<div class="login-container">
  <div class="login-form">
    <h2 class="form-title">Login</h2>

    <form (ngSubmit)="login()" autocomplete="on">
      <div class="form-group">
        <input
          [(ngModel)]="username"
          name="username"
          type="text"
          placeholder="Username"
          class="form-input"
          required
        />
      </div>

      <div class="form-group">
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Password"
          class="form-input"
          required
        />
      </div>

      <button type="submit" class="login-btn">Login</button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
    <p class="register-prompt">
      Don’t have an account?
      <button class="link-btn" routerLink="/register">Create one</button>
    </p>
  </div>
</div>
