<div class="ads-container">
  <div class="filter-container">
    <app-car-filter (filterChange)="filter($event)"></app-car-filter>
  </div>

  <div class="ad-list">
    <app-ad-card
      *ngFor="let ad of ads"
      [ad]="ad"
      [isFavorited]="isFavorite(ad)"
      (toggleFavorite)="toggleFavorite($event)"
    >
    </app-ad-card>

    <app-pagination
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
</div>
