<div class="ad-list">
  <div *ngFor="let ad of ads" class="ad-card">
    <div class="ad-content">
      <div class="ad-text">
        <h3>{{ ad.brand }} {{ ad.model }}</h3>
        <p>{{ ad.year }} • {{ ad.kilometers }} km • {{ ad.fuelType }}</p>
        <p>{{ ad.description }}</p>
      </div>
      <img [src]="ad.photoUrl" alt="Car image" />
    </div>
  </div>

  <app-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
