<mat-card class="filter-card">
  <mat-toolbar color="primary" class="filter-toolbar">
    Car Filters
    <span class="spacer"></span>
    <button mat-icon-button (click)="form.reset()" matTooltip="Reset all">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

  <form [formGroup]="form" class="filter-grid">
    <mat-form-field appearance="fill" class="compact">
      <mat-label>Brand</mat-label>
      <mat-select formControlName="brand">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let b of brands" [value]="b.name">{{ b.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Model</mat-label>
      <mat-select formControlName="model" [disabled]="!models.length">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let m of models" [value]="m.name">{{ m.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Year From</mat-label>
      <input matInput type="number" formControlName="fromYear" placeholder="2000"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Year To</mat-label>
      <input matInput type="number" formControlName="toYear" placeholder="2025"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Fuel</mat-label>
      <mat-select formControlName="fuelType">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let ft of fuelTypes" [value]="ft">{{ fuelTypeLabels[ft] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Trans.</mat-label>
      <mat-select formControlName="transmission">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let tt of transmissionTypes" [value]="tt">{{ transmissionTypeLabels[tt] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Body</mat-label>
      <mat-select formControlName="bodyType">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let bt of bodyTypes" [value]="bt">{{ bodyTypeLabels[bt] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Color</mat-label>
      <input matInput type="text" formControlName="color" placeholder="e.g. Red"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Reg.</mat-label>
      <mat-select formControlName="registrationType">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let rt of registrationTypes" [value]="rt">{{ registrationTypeLabels[rt] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Emission</mat-label>
      <mat-select formControlName="emissionType">
        <mat-option value="">Any</mat-option>
        <mat-option *ngFor="let et of emissionTypes" [value]="et">{{ emissionTypeLabels[et] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Km From</mat-label>
      <input matInput type="number" formControlName="fromKilometers" placeholder="0"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Km To</mat-label>
      <input matInput type="number" formControlName="toKilometers" placeholder="200K"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Power</mat-label>
      <input matInput type="text" formControlName="enginePower" placeholder="100KW"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Price From</mat-label>
      <input matInput type="number" formControlName="fromPrice" placeholder="10K"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="compact">
      <mat-label>Price To</mat-label>
      <input matInput type="number" formControlName="toPrice" placeholder="1M"/>
    </mat-form-field>
  </form>
</mat-card>
